<div class="modal fade" id="import-modal" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span
                        class="sr-only">Close</span></button>
                <h4 class="modal-title" id="myModalLabel">Import configuration file</h4>
            </div>
            <div class="modal-body">
                <p>Select the file containing the configuration you want to import:</p>
                <input type="file" id="import-file" name="files[]" single/>

                <div id="import-error" class='alert alert-danger' role='alert' style="margin-top: 10px; display: none;">
                    <strong>Error!</strong> An error occurred while importing the configuration file. The selected file
                    seems to be invalid. Please select a valid configuration file.
                </div>
            </div>
        </div>
    </div>
</div>