<p>The <i>blur</i> and <i>radius</i> affect the way the heatmap layer looks like. Use the controls below too change
    these values:</p>
<p><label for="blurSetting">Blur value: </label> <code data-bind="text: blur"></code></p>
<input id="blurSetting" class="slider" type="number" data-bind="sliderValue: {value: blur, min: 1, max: 100}"/>
<br/><br/>
<p><label for="radiusSetting">Radius value: </label> <code data-bind="text: radius"></code></p>
<input id="radiusSetting" class="slider" type="number" data-bind="sliderValue: {value: radius, min: 1, max: 100}"/>
<br/>
