<p>The maximum and minimum values that can be obtained for a sector influence the displayed color. Use the controls
    below too change these values:</p>
<p><label for="minValue">Min sector value: </label> <input id="minValue" class="pull-right" type="number"
                                                    data-bind="value: minValue"/></p>
<p><label for="maxValue">Max sector value:</label> <input id="maxValue" class="numeric pull-right" type="number"
                                                   data-bind="value: maxValue"/></p>
<br/>
